.DS_Store
/BooleanInterpreter/nbproject/private/
/BooleanInterpreter/dist/
/BooleanInterpreter/build/
/MathematicsInterpreter/nbproject/private/
/MathematicsInterpreter/build/
/MathematicsInterpreter/dist/